doctype html
html
    head
        title= title
        //- header:css
        //- endinject
        //- bower:js
        //- endbower
        //- bowerprod:js
        //- endinject
        script(src="/socket.io/socket.io.js")
        //- header:js
        //- endinject
    body
        block content
